<h1> Create a Bookmark </h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: @movies.each {|movie| movie.title} %>
  <%= f.button :submit %>
<% end %>
